@media (max-width: 600px) {
    /* Navigation */
    .Menu {
        flex-direction: column;
        font-size: 18px;
    }

    /* Touch-Targets */
    .menu-items {
        padding: 10px;
    }

    .Menu::before, .Menu::after {
        content: none !important; 
    }

    .konzert-liste .links{
        display: none;    
    }

    .konzert-liste .rechts{
        display: none;    
    }

    .konzert{
        font-size: 20px !important;
    }  
    
    .unter-konzert-schriftzug{
        color: white;
        font-size: 14px !important;
        text-align: center;
    }
}

/* Nur für Mia-Stuff: */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body{
    margin : 0;
/*    background-image: url('/Neue_Testfotos_von_Eva/hintergrund.jpg');*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*font-family: 'Playfair Display', serif;         Wieder einfügen, das andere ist nur für Mia.*/
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}

.blauer-body{
    background-image: url('/Neue_Testfotos_von_Eva/wenigRosa.jpg');
}

/* Menu */

.Menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: relative; /* Wichtig für die Positionierung der Pseudo-Elemente */
}

.Menu::before, .Menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px; /* Höhe des Strichs */
    background-color: white; /* Farbe des Strichs */
}

.Menu::before {
    left: 0;
    width: 30%; /* Breite des Strichs auf der linken Seite */
}

.Menu::after {
    right: 0;
    width: 30%; /* Breite des Strichs auf der rechten Seite */
}

.menu-items{
    text-decoration: none;
    margin-left: 2vw;
    color: white;
}

.menu-items:hover{
    text-decoration: underline;
}

.schriftzug-container{
    margin-left: 5%;
}

/* Konzerte */

.ueber-konzert-schriftzug{
    color: white;
    font-size: 40px;
    text-align: center;
}

.konzert-liste {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; /* Nimmt den verfügbaren Platz ein */
    padding: 1em; /* Falls Innenabstand benötigt wird */
    margin-top: 3%;
}

.konzert-liste .links{
    flex: 2;
}

.konzert-liste .mitte{
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.konzert-liste .rechts{
    flex: 2;
}

.konzert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: 30px;
}

.konzert .datum, .konzert .ort{
    width: 50%;
    text-align: center;    
}

.unter-konzert-schriftzug{
    color: white;
    text-align: center;
}

.fill-space{
    flex-grow: 1;
}

/* Shop */

.cd-bilder-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 7%;
}

.cd-bild {
    margin-bottom: 3%; /* Abstand zwischen den Bildern */
}

/* Anpassung der Breite der spezifischen Bilder */
.cd-bilder-container img[src="cd_bilder/vorderseite.jpg"],
.cd-bilder-container img[src="cd_bilder/rueckseite.jpg"] {
    width: 40%; /* Erhöht die Breite des ersten Bildes */
}

.cd-bilder-container img[src="cd_bilder/aufgeklappt.jpg"],
.cd-bilder-container img[src="cd_bilder/heftchen.jpg"] {
    width: 50%; /* Verringert die Breite des zweiten Bildes */
}

.cd-text-container {
    text-align: center;
    font-size: 18px;
    color: white; /* Passt die Textfarbe an Ihre Website an */
    margin-bottom: 20px;
}


/* Kontakt */

.kontakt-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 20px;
    color:white;
}

.zentrierter-text {
    text-align: center;
}

.zentrierter-text a {
    text-decoration: none;
    color: blue;
}

.zentrierter-text a:hover {
    text-decoration: underline;
}

.Untere-Leiste-fest{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0vw;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    padding: 1em; /* Falls Innenabstand benötigt wird */
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

.Untere-Leiste-scrollen{
    position: static;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    padding: 1em; /* Falls Innenabstand benötigt wird */
}

.icon-Bilder{
    width: 40px; 
    height: 40px;
    margin: 0 0px;
}

.nicht-lila-werden:visited{
    color: blue;
}

/* Ab hier Mia stuff */

.jetztNurGIF{
    position: absolute;
    left: 28%;
    right: 28%;
}

.center{
    margin: 0;
    position: absolute;
    top: 15%;
    left: 25%;
    bottom: 35%;
    right: 25%;
}

.text-unter-gif{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 25%;
    bottom: 25%;
    right: 25%;
}

.yes-button{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 45%;
    bottom: 15%;
    right: 45%;
}

#yesButton button {
    background-color: #90ee90; /* Light green background */
    border: 2px solid #32cd32; /* Lime green border */
    border-radius: 12px; /* Rounded corners */
    color: white; /* White text color */
    font-family: 'Indie Flower', cursive; /* Cute font */
    font-size: 20px; /* Larger font size */
    padding: 10px 20px; /* Padding for the button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

#myDIV button {
    background-color: #ffcccb; /* Light pink background */
    border: 2px solid #ff69b4; /* Hot pink border */
    border-radius: 12px; /* Rounded corners */
    color: white; /* White text color */
    font-family: 'Indie Flower', cursive; /* Cute font */
    font-size: 20px; /* Larger font size */
    padding: 10px 20px; /* Padding for the button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s, opacity 1s; /* Smooth transitions */
}

#myDIV button.hidden {
    opacity: 0;
    transition: opacity 1s ease-out; /* Smooth transition for opacity */
}

#yesButton button:hover {
    background-color: #32cd32; /* Lime green background on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

#myDIV button:hover {
    background-color: #ff69b4; /* Hot pink background on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

#yesButton button:active {
    background-color: #228b22; /* Forest green background on click */
    transform: scale(0.9); /* Slightly shrink the button on click */
}

#myDIV button:active {
    background-color: #ff1493; /* Deep pink background on click */
    transform: scale(0.9); /* Slightly shrink the button on click */
}


#yesButton {
    display: inline-block;
    vertical-align: top;
}

#myDIV{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px; /* Adjust the margin as needed */
    position: absolute;
    top: 5%;
    left: 10%;
    color: white;
    transition: 0.5s transform;
    width: 100px; /* Adjust the width as needed */
  }
  
.button{
    z-index: 1;
    position: absolute;
  }

.jumpScare{
    position: absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
}

#senddudes {
    display: none;
}

.nudes{
    position: absolute;
    top: 80%;
    bottom: 5%;
    left: 80%;
    right: 5%;
}

.kpop_dance{
    position: absolute;
    top: 2%;
    left: 55%;
    right: 2%;
    bottom: 60%;
}

.center2{
    position: absolute;
    top: 2%;
    left: 65%;
    right: 2%;
    bottom: 70%;
}